@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wdth,wght@0,50..125,100..900;1,50..125,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
    font-family: "Saira", sans-serif;

    background-color: rgb(16, 16, 16);
    color: white;

    text-align: center;
    letter-spacing: 2.5px;
}

h2 {
    font-family: "Space Mono";
    font-size: 36px;
    text-shadow: 1px 2px rgb(0, 0, 0);
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(
        to right,
        rgba(66, 66, 69, 0),
        rgba(66, 66, 69, 1),
        rgba(66, 66, 69, 0)
    );
    margin: 20px 0;
}

.container-repo {
    background-color: rgb(15, 15, 14);
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 69);

    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.container-repo h3 a {
    text-decoration: none;
    color: lightcoral;
}

.container-repo h3 a:hover {
    text-decoration: underline;
    color: lightcoral;
}

.container-contact {
    background-color: rgb(15, 15, 14);
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 69);

    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.container-contact p a {
    text-decoration: none;
    color: lightcoral;
}

.container-contact p a:hover {
    text-decoration: underline;
    color: lightcoral;
}

.container-footer {
    background-color: rgb(15, 15, 14);
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 69);

    width: 40%;
    margin: 7.5% auto;
    padding: 20px;
}

.container-footer a {
    text-decoration: none;
    color: lightcoral;
}

.container-footer a:hover {
    text-decoration: underline;
    color: lightcoral;
}
